<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

        <title>Welcome!</title>
        {% if title %}
        <title>{{ title }} - !</title>
        {% else %}
        <title>Welcome!</title>
        {% endif %}

    </head>
    <body>
        <div class="heading">
            <ul>
                <li><div style="float: left, padding-right: 10%"><a href="/index">Home</a></div></li>
                <li><div style="float: right, padding-left: 10%"><a href="/clubplans">Club Plans</a></div></li>

                <li><div style="text-align: center, padding-left: 10%, padding-right: 10%">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                    <div>Hello, {{current_user.username}}!</div>
                    {% endif %}
                </div></li>
            </ul>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        <br><br>
        {% block content %} {% endblock %}

    </body>
</html>